<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student managment system</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>SMS Application</h1>
        <span class="cursive">(Student managment system)</span> 
    </header>

    <div id="registration-box" >
        <img class="close" src="https://img.icons8.com/fluency/48/000000/close-window.png"/>
        <div class="profile-foto">
            <input id="profile-button" style="display: none;" type="file"><img class="profile-upload" src="https://img.icons8.com/color/48/000000/add--v1.png"/>
        </div>
        <h2 class="detail-header">Student registration</h2>
        <p style="color: teal;">Please provide the following information.</p>
        <form  action="" id="registration-form">
            <p class="input-fields">
            Name: <input class="fields" type="text">
            </p>
            <p class="input-fields">
            Guardian name: <input class="fields" type="text">
            </p>
            <p class="input-fields">
            Roll no.: <input class="fields" type="number">
            </p>
            <p class="input-fields">
            Age: <input class="fields" type="number" min="0">
            </p>
            <p class="input-fields">
            Phone: <input class="fields" type="tel">
            </p>
            <p class="input-fields">
            Notes: <input class="fields" type="text">
            </p>
            <div class="input-fields">
            <button class="fields" type="button" id="register-botton">Register</button>
            </div>
            
        </form>
    </div>
   
    </div>
</body>
</html>