<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student managment system</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>SMS Application</h1>
        <span class="cursive">(Student managment system)</span> 
    </header>
    
    <div class="buttons">
        <button id="add" class="button"><img src="https://img.icons8.com/color/48/000000/add--v1.png"/><p>Add student</p></button>
        <button id="display" class="button"><img src="https://img.icons8.com/ios/48/000000/show-all-views.png"/><p>Display all</p></button>
    </div>
    <div>[[${key}]]</div>
   
    <script src="script.js"></script>
</body>
</html>